.user-profile {
	background-color: lightgray;
	margin-bottom: 16px;
	border-radius: 12px;
	padding: 16px;
	display: flex;
	align-items: flex-start;
	max-width: 50%;
	margin: 16px auto;

	
	&__info {
		list-style: none;
		padding: 0;
		margin: 0;

		& > li {
			margin-bottom: 8px;
		}

	}

	&__avatar {
		border-radius: 8px;
		margin-right: 16px;
	}

	&__title {
		font-weight: 600;
		margin-right: 8px;
	}

}